.MessageForm {
  margin: 32px auto;
  max-width: 640px;
}
.MessageForm__row {
  margin: 16px 0;
  text-align: left;
}
.MessageForm__row input[type="text"] {
  background-color: #eeeddf;
  display: block;
  width: 100%;
}
